@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("fonts/Gilroy-Light/Gilroy-Light.woff2") format("woff2"),
    url("fonts/Gilroy-Light/.woff") format("woff"),
    url("fonts/Gilroy-Light/.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("fonts/Gilroy-Extrabold/Gilroy-Extrabold.woff2") format("woff2"),
    url("fonts/Gilroy-Extrabold/Gilroy-Extrabold.woff") format("woff"),
    url("fonts/Gilroy-Extrabold/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  animation: 3s show ease;
}

body.active {
  overflow: hidden;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  display: none;
}

/******************header*********************/

header {
  width: auto;
  height: 6.25vw;
  margin: 0 1.81vw 0 1.67vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 500px) {
  header {
    width: 87.19vw;
    height: 18.75vw;
    margin: 0;
    margin-left: 6.25vw;
    margin-right: 6.56vw;
  }
}
.menu-btn {
  display: none;
}

@media screen and (max-width: 500px) {
  /* Гамбургер иконка */
  .menu-btn {
    display: flex;
    width: 5.63vw;
    height: 5vw;
    position: relative;
    z-index: 7;
    overflow: hidden;
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .menu-btn span {
    width: 5.63vw;
    height: 0.31vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
  }
}

@media screen and (max-width: 500px) {
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 1.25vw);
  }
}

@media screen and (max-width: 500px) {
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 1.25vw);
  }
}

@media screen and (max-width: 500px) {
  /* Меняем гамбургер иконку, когда меню открыто */
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .menu-btn.active span:nth-of-type(2) {
    top: 48%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
}

@media screen and (max-width: 500px) {
  .menu-btn.active span:nth-of-type(3) {
    top: 48%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
}

.menu {
  display: flex;
  margin: 0;
}
@media screen and (max-width: 500px) {
  /* Меню, которое будет появляться */
  .menu {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 18.75vw;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 6.25vw;
    padding-right: 6.25vw;
    padding-top: 12.81vw;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 6;
    background: #fff;
  }
}

.menu nav {
  display: flex;
  justify-content: space-between;
  width: 19.03vw;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .menu nav {
    width: 87.5vw;
    height: 114.69vw;
    flex-direction: column;
    justify-content: start;
  }
}

@media screen and (max-width: 500px) {
  .menu.active {
    transform: translateX(0);
  }
}
.symbol-nav {
  width: 12.5vw;
  height: 12.5vw;
  margin-bottom: 10vw;
}

@media screen and (min-width: 500px) {
  .symbol-nav {
    display: none;
  }
}

.menu li {
  list-style: none;
  margin: 0;
}
.menu a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 0.83vw;
  line-height: 1.46vw;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #58595b;
  text-decoration: none;
}

.menu a:hover {
  color: #d3a785;
}

@media screen and (max-width: 500px) {
  .menu a {
    height: 12.5vw;
    list-style-type: none;
    font-size: 3.13vw;
    line-height: 4.38vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.31vw solid #58595b;
  }

  .border-tp {
    border-top: 0.31vw solid #58595b;
  }

  .menu-one {
    order: 1;
  }

  .menu-two {
    order: 2;
  }

  .menu-three {
    order: 3;
  }

  .menu-four {
    order: 4;
  }

  .menu-five {
    order: 5;
  }
  .menu-six {
    order: 6;
  }
  .menu-seven {
    order: 6;
  }
}

@media screen and (min-width: 500px) {
  .pc-none {
    display: none;
  }
  .link {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .link {
    width: 18.13vw;
    margin-top: 11.88vw;
    display: flex;
    justify-content: space-between;
  }
  .link img {
    margin: 0;
  }
}

.logo {
  width: 11.25vw;
  height: 2.64vw;
  margin-left: 23.54vw;
  margin-right: 16.39vw;
}

@media screen and (max-width: 500px) {
  .logo {
    width: 30vw;
    height: 7.19vw;
    margin: 0;
    margin-right: 27.5vw;
    margin-left: 4.69vw;
  }
}

.block-all-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 26.39vw;
}
@media screen and (max-width: 500px) {
  .block-all-content {
    justify-content: end;
    width: 19.38vw;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.number-nav {
  width: 15.69vw;
}

@media screen and (max-width: 500px) {
  .number-nav {
    display: none;
  }
}
.number-nav a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 0.83vw;
  line-height: 1.46vw;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #58595b;
  margin: 0;
  cursor: pointer;
}

.number-nav a:hover {
  color: #d3a785;
}
.cont-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 0.83vw;
  line-height: 1.46vw;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  color: #58595b;
  cursor: pointer;
}

.cont-text:hover {
  color: #d3a785;
}

.bl-icons-nav {
  width: 4.03vw;
  height: 1.67vw;
}
@media screen and (max-width: 500px) {
  .bl-icons-nav {
    width: 19.38vw;
    height: 7.5vw;
  }
}

.bl-icons-nav img {
  width: 1.67vw;
  height: 1.67vw;
  cursor: pointer;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .bl-icons-nav img {
    width: 7.5vw;
    height: 7.5vw;
  }
}

.language-nav {
  width: 3.19vw;
  height: 1vw;
}
@media screen and (max-width: 500px) {
  .language-nav {
    display: none;
  }
}

.language-nav a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 0.83vw;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #58595b;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.language-nav a:hover {
  color: #d3a785;
}

.ua.active {
  border-bottom: 1px solid #58595b;
  margin: 0;
}

/******************slider*********************/

.container {
  width: 100%;
  height: 56.1vw;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .container {
    width: 100vw;
    height: 153.75vw;
  }
}
.slider {
  position: relative;
}

.slider__wrapper {
  overflow: hidden;
  width: 100%;
}

.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}

.slider__item {
  max-width: 82.71vw;
  flex: 0 0 50%;
  justify-content: space-between;
  max-width: 50%;
  display: flex;
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}
.room {
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .room {
    width: 100vw;
    height: 153.75vw;
  }

  .none {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .mob {
    display: none;
  }
}

.slider_disable-transition {
  transition: none;
}
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none;
}

.slider__indicators {
  z-index: 3;
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 4.31vw;
  position: relative;
}
@media screen and (max-width: 500px) {
  .slider__indicators {
    margin-top: 4.06vw;
  }
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 1.11vw;
  height: 1.11vw;
  border: 0.07vw solid white;
  margin-right: 1.11vw;
  margin-left: 1.11vw;
  text-indent: -999px;
  cursor: pointer;
  border-radius: 50%;
}
@media screen and (max-width: 500px) {
  .slider__indicators li {
    width: 2.19vw;
    height: 2.19vw;
    margin-right: 3.13vw;
    margin-left: 3.13vw;
    border: 0.31vw solid white;
  }
}
@media screen and (min-width: 500px) {
  .none-pc {
    display: none;
  }
}
.slider__indicators li.active {
  background-color: white;
}

.block-sl {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -38.82vw;
}
@media screen and (max-width: 500px) {
  .block-sl {
    margin-top: -67.5vw;
  }
}
.block-sl h1 {
  width: 46.94vw;
  height: 6.53vw;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 4.44vw;
  line-height: 5.97vw;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .block-sl h1 {
    width: 84.06vw;
    height: 11.56vw;
    font-size: 9.38vw;
    line-height: 11.56vw;
  }
}

.sl-text {
  width: 29.72vw;
  height: 8.89vw;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 1.67vw;
  line-height: 1.94vw;
  display: flex;
  align-items: center;
  text-align: center;
  color: #58595b;
  background: #ffffff;
  padding-left: 0.76vw;
  padding-right: 0.97vw;
  margin-top: 0.56vw;
  margin-left: 36.32vw;
}
@media screen and (max-width: 500px) {
  .sl-text {
    width: 76.88vw;
    height: 24.69vw;
    font-size: 4.38vw;
    line-height: 5vw;
    padding-left: 2.81vw;
    padding-right: 4.06vw;
    margin-left: 11.25vw;
    margin-top: 3.13vw;
  }
}

.block-sl img {
  width: 7.64vw;
  height: 7.64vw;
  margin-top: 2.43vw;
  margin-left: 46.53vw;
}
@media screen and (max-width: 500px) {
  .block-sl img {
    width: 12.81vw;
    height: 12.81vw;
    margin-top: 2.81vw;
    margin-left: 43.13vw;
  }
}

/****************women-and-men***********************/

.women-and-men {
  width: 100%;
  height: 51.39vw;
  display: flex;
}
@media screen and (max-width: 500px) {
  .women-and-men {
    display: contents;
    width: 100%;
    height: 355vw;
    flex-direction: column;
  }
}

.bl-women-st {
  background: #f4d8d4;
}
@media screen and (max-width: 500px) {
  .bl-women-st {
    height: 177.19vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.women-st {
  width: 32.92vw;
  height: 49.24vw;
  margin: 2.15vw 13.96vw 0 3.13vw;
}

@media screen and (max-width: 500px) {
  .women-st {
    width: 106.88vw;
    height: 147.78vw;
    position: absolute;
    left: -36.4vw;
    top: 201.9vw;
    margin: 0;
  }
}

.none-img-mob {
  background-image: url(img/women.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .none-img-mob {
    display: none;
  }
}
.none-img-pc {
  background-image: url(img/one.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 500px) {
  .none-img-pc {
    display: none;
  }
}

.women-text {
  margin-left: 16.25vw;
}
@media screen and (max-width: 500px) {
  .women-text {
    margin-left: 0;
    position: absolute;
    left: 20.31vw;
    margin-bottom: -40.63vw;
  }
}

.st-all-text {
  width: 18.89vw;
  height: 5.14vw;
  position: relative;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 1.67vw;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
  background: #f9f8f6;
  line-height: 3em;
  margin-top: -28.68vw;
  transition: 0.5s;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .st-all-text {
    width: 65vw;
    height: 17.5vw;
    font-size: 5.63vw;
    line-height: 18vw;
  }
}
.st-all-text:hover {
  transform: scale(1.2);
}

.bl-men-st {
  background: #8895a4;
}
@media screen and (max-width: 500px) {
  .bl-men-st {
    height: 177.81vw;
  }
}
.men-st {
  width: 34.17vw;
  height: 51.18vw;
  margin: 0.21vw 2.57vw 0 13.26vw;
  background-image: url(img/men.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .men-st {
    width: auto;
    height: 177.81vw;
    margin: 0;
    background-position-x: 3.13vw;
  }
}

.men-text {
  margin-right: 16.04vw;
}

@media screen and (max-width: 500px) {
  .men-text {
    margin-top: -97.81vw;
    margin-right: 22.19vw;
  }
}

/*****************block-orders-all**********************/

.block-orders-all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 82.71vw;
  height: 16.46vw;
  margin: 6.6vw auto 7.92vw auto;
}
@media screen and (max-width: 500px) {
  .block-orders-all {
    width: 87.5vw;
    height: 111.25vw;
    margin: 17.81vw auto 17.81vw auto;
  }
}

.block-orders-fl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .block-orders-fl {
    flex-direction: column;
  }
}

.block-orders-fl img {
  width: 7.08vw;
  height: 7.08vw;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .block-orders-fl img {
    width: 31.88vw;
    height: 31.88vw;
    order: 2;
    margin-top: 5.31vw;
    margin-bottom: 9.69vw;
  }
}

.text-ord-one {
  height: 4.79vw;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 3.33vw;
  line-height: 4.17vw;
  color: #000000;
  padding-bottom: 0.9vw;
  border-bottom: 0.07vw solid #000000;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .text-ord-one {
    height: 11.56vw;
    font-size: 5.63vw;
    line-height: 6.56vw;
    text-align: center;
    border-bottom: 0.31vw solid #000000;
  }
}

.text-ord-two {
  width: 38.33vw;
  height: 4.58vw;
  margin: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 1.25vw;
  line-height: 2.08vw;
  color: #000000;
}
@media screen and (max-width: 500px) {
  .text-ord-two {
    width: 87.5vw;
    height: 27.19vw;
    font-size: 3.75vw;
    line-height: 5.63vw;
    text-align: center;
    order: 1;
  }
}

form {
  margin: 0;
}
@media screen and (max-width: 500px) {
  form {
    text-align: center;
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 21.56vw;
  }
}

label {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 1.11vw;
  line-height: 1.67vw;
  color: #000000;
}

@media screen and (max-width: 500px) {
  label {
    font-size: 3.44vw;
    line-height: 5.63vw;
    text-align: center;
  }
}
.form-number-sub {
  width: 25.97vw;
  height: 4.17vw;
  display: flex;
  margin-top: 1.18vw;
}

@media screen and (max-width: 500px) {
  .form-number-sub {
    width: 87.5vw;
    height: 12.19vw;
  }
}
input[type="text"]::-webkit-outer-spin-button,
input[type="text"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="submit"],
[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.tel {
  width: 16.46vw;
  height: 3.33vw;
  border: none;
  outline: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 1.11vw;
  line-height: 1.67vw;
  color: #000000;
  background: #efede9;
  border: 0.07vw solid #dfdbd4;
  border-radius: 0;
  border-right: none;
  padding-left: 1.11vw;
}

@media screen and (max-width: 500px) {
  .tel {
    width: 55vw;
    height: 12.19vw;
    margin: 0;
    font-size: 3.44vw;
    line-height: 5.63vw;
    border: 0.31vw solid #dfdbd4;
    border-right: none;
    padding-left: 3.75vw;
  }
}

.but {
  width: 9.58vw;
  height: 3.33vw;
  border: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 0.97vw;
  line-height: 1.25vw;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #58595b;
  background: #f0ded0;
  border-radius: 0;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .but {
    width: 32.5vw;
    height: 12.19vw;
    font-size: 3.13vw;
    line-height: 4.38vw;
  }
}

.but:hover {
  background: #e4c5ad;
  transition: 0.5s;
}

/******************catalog*********************/

.catalog {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .catalog {
    flex-direction: column;
  }
}

.catalog-bl {
  width: 33.33vw;
  height: 51.39vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .catalog-bl {
    width: 100vw;
    height: 177.5vw;
  }
}

.catalog-bl-click {
  overflow: hidden;
  cursor: pointer;
}

.color-one {
  background: #e2e39c;
}
.color-one:hover {
  transform: scale(1.03);
  transition: 0.5s;
}
.color-two {
  background: #ded5dd;
}
.color-two:hover {
  transform: scale(1.03);
  transition: 0.5s;
}
.color-three {
  background: #ffd3b8;
}
.color-three:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.text-cat {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 2.08vw;
  line-height: 4.17vw;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 1.39vw;
}
@media screen and (max-width: 500px) {
  .text-cat {
    font-size: 5.63vw;
    line-height: 18.75vw;
  }

  .mob-pad-text-one {
    margin-top: 6.25vw;
  }

  .mob-pad-text {
    margin-top: 10vw;
  }
}

.catalog-one {
  width: 31.81vw;
  height: 43.61vw;
  margin: 0;
  margin-left: 0.9vw;
}
@media screen and (max-width: 500px) {
  .catalog-one {
    width: 99.38vw;
    height: 144.06vw;
    margin: 0;
  }
}
.catalog-two {
  width: 33.33vw;
  height: 45.69vw;
}

@media screen and (max-width: 500px) {
  .catalog-two {
    width: 99.69vw;
    height: 144.69vw;
    margin: 0;
  }
}
.catalog-three {
  width: 32.22vw;
  height: 44.17vw;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .catalog-three {
    width: 99.69vw;
    height: 141.25vw;
    margin: 0;
  }
}
/******************footer*********************/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 6.25vw;
  border-top: 0.07vw solid #58595b;
  margin: 1.53vw 1.6vw 0 1.6vw;
}

@media screen and (max-width: 500px) {
  footer {
    height: 15vw;
    border-top: 0.31vw solid #58595b;
    margin: 4.06vw 6.25vw 0 6.25vw;
  }
}

.cont-foter-all {
  display: flex;
  margin: 0;
}

.bl-footer-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3.68vw;
  height: auto;
}
@media screen and (max-width: 500px) {
  .bl-footer-icon {
    width: 16.56vw;
  }
}
.bl-footer-icon img {
  width: 1.18vw;
  height: 1.18vw;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .bl-footer-icon img {
    width: 5.31vw;
    height: 5.31vw;
  }
}

.bl-footer-txt {
  display: flex;
  justify-content: space-between;
  width: 20.63vw;
  height: auto;
  margin-left: 2.22vw;
}
@media screen and (max-width: 500px) {
  .bl-footer-txt {
    width: 49.06vw;
    margin-left: 5.94vw;
  }
}
.bl-footer-txt a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 0.83vw;
  line-height: 1.46vw;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #58595b;
  text-decoration: none;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .bl-footer-txt a {
    font-size: 3.13vw;
    line-height: 4.38vw;
  }
}
.bl-footer-txt a:hover {
  color: #d3a785;
}

#scrollToTopBtn {
  width: 3.33vw;
  height: 3.33vw;
  z-index: 22;
  cursor: pointer;
  background: url(icon/BTN\ UP.svg) no-repeat;
  background-position-x: center;
  background-position-y: center;
  margin: 0;
  border: none;
}

@media screen and (max-width: 500px) {
  #scrollToTopBtn {
    width: 14.69vw;
    height: 15vw;
  }
}
